* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.p-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #3b61ff;
  font-size: 1.5em;
}

#s1-header {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  background-color: rgb(217, 221, 235);
}

.phead {
  margin-top: 5rem;
  text-align: center;
  height: 12rem;
}

.cool-btn {
  background: black;
  color: whitesmoke;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  padding: 0.35rem;
  border-radius: 0.85rem;
  text-align: center;
}

#s2-body {
  background: white;
}

.privacy-policy {
  position: relative;
  bottom: 8rem;
  background: whitesmoke;
  padding: 4rem;
  border-radius: 0.75rem;
  line-height: 2rem;
  font-size: 17.5px;
}

.p-container {
  padding: 2rem 10rem;
}

@media screen and (max-width: 1081px) {
  .p-container {
    padding: 1.5rem 7rem;
  }

  .privacy-policy {
    padding: 2rem;
    border-radius: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .p-container {
    padding: 1rem 4rem;
  }

  .privacy-policy {
    bottom: 6rem;
  }
}

@media screen and (max-width: 576px) {
  .p-container {
    padding: 0.5rem 2rem;
  }

  .phead {
    margin-top: 5rem;
    margin-top: 3rem;
    text-align: center;
    height: 12rem;
  }

  .privacy-policy {
    bottom: 6rem;
  }
}