* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #3b61ff;
  font-size: 1.5em;
}

.sub-link li {
  list-style: none;
  font-weight: bold;
  color: #3b61ff;
  font-size: 1em;
}

[container] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.left {
  margin: 3em 0;
}

.left h2 {
  font-weight: bold;
  font-size: 4em;
  padding: 0 2em 1em 0;
  color: #3b61ff;
}

.right {
  margin: 3em 0;
}

.right img {
  padding-left: 4em;
  width: fit-content;
  height: 25em;
}

.left,
.right {
  padding: 2em;
}

.upload-btn {
  padding: 1em;
  border-radius: 5px;
  margin: 0 1em;
}

.left .file {
  background-color: #3b61ff;
  color: #ffffff;
  border: 2px solid #3b61ff;
  font-weight: bold;
}

.left .folder {
  background-color: #ebebeb;
  color: #3b61ff;
  border: 2px solid #ebebeb;
  font-weight: bold;
}

/* file upload */
[upload-file] {
  display: none;
  padding: 2em 2em 0;
  background-color: #3b61ff;
}

[upload-file] .form-header {
  display: flex;
  justify-content: space-between;
}

.back {
  cursor: pointer;
  position: relative;
  left: -20px;
  top: -20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 1.5em;
}

h2 {
  font-weight: bold;
  color: #ffffff;
  font-size: 2em;
}

[upload-file] .add-btn {
  font-weight: bold;
  padding: 0.2em 0.5em;
  font-size: 2em;
  color: #3b61ff;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

[upload-file] .file-list {
  margin: 0 3em;
}

[upload-file] .file-list .each-file {
  margin-top: 1.5em;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}

[upload-file] .file-list .each-file .delete {
  height: 20px;
  position: relative;
  top: -23px;
  left: -20px;
  padding: 2px 2px -2px;
  border: 1px solid #ffffff;
  background-color: #3b61ff;
  border-radius: 100%;
  color: #d80000;
  z-index: 1;
}

[upload-file] .file-list .each-file h4 {
  color: #00000080;
}

[upload-file] .file-list .each-file span,
p,
.file-type {
  color: #3b61ff;
  font-weight: bold;
}

.each-file .file-type-holder {
  display: flex;
  justify-content: flex-end;
}

[upload-file] .send-options {
  text-align: center;
  /* display: flex; */
  /* justify-content: space-between; */
  margin: 2em 3em;
}

[upload-file] .email-btn {
  background-color: #ffffff;
  color: #3b61ff;
  border: 2px solid #ffffff;
  font-weight: bold;
}

[upload-file] .link-btn {
  background-color: #3b61ff;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
}

/* email field */
[send-email] {
  display: none;
  padding: 2em 2em 0;
  background-color: #3b61ff;
}

.email-field-content {
  text-align: center;
}

input, textarea {
  width: 50%;
  margin-top: 1.5em;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  margin: 1em 3em;
}

.send-options {
  display: flex;
  justify-content: space-between;
  margin: 1em 10em;
}

.send-options .cancel {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
}

.send-options .send {
  padding: 10px 30px;
  background-color: #ffffff;
  color: #3b61ff;
  border: 2px solid #ffffff;
  font-weight: bold;
}

/* generate link */
[generate-link] {
  display: none;
  padding: 2em 2em 0;
  background-color: #3b61ff;
}

.gen-link-content {
  text-align: center;
  padding: 5em 0;
}

.generated-link {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin: 3em 2em;
}

.gen-link-content .copy {
  padding: 10px 30px;
  background-color: #ffffff;
  color: #3b61ff;
  border: 2px solid #ffffff;
  font-weight: bold;
}

/* .copy-feedback {
  display: none;
  width: fit-content;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #3b61ff;
  background-color: #ffffff;
  padding: 5px;
  position: relative;
  top: -40px;
  left: 90px;
} */

/* media query */
@media only screen and (max-width: 720px) {
  body {
    height: 100vh;
  }

  [container] {
    display: flex;
    flex-direction: column;
  }

  .left {
    margin: 2em 0;
  }

  .right img {
    display: none;
  }

  [upload-file] {
    display: none;
    position: absolute;
    height: 100vh;
    padding: 2em 2em 0;
    background-color: #3b61ff;
  }

  /* send by email */

  [send-email] {
    display: none;
    position: fixed;
    width: 100%;
    height: fit-content;
    padding: 2em 2em 0;
    background-color: #3b61ff;
    overflow: scroll;
  }

   input, textarea {
    width: 70%;
  }

  .send-options {
    margin: 1em 2.3rem;
  }

  .send-options .cancel {
    padding: 5px 0 0 1.5em;
  }

  /* generate link */

  [generate-link] {
    display: none;
    position: fixed;
    height: 100vh;
  }

  .generated-link {
    margin: 5em -1em;
    width: fit-content;
  }

  /*  */
  /* [copy] {
    text-align: center;
  }
  .copy-feedback {
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #3b61ff;
    background-color: #ffffff;
    padding: 5px;
    position: fixed;
    top: -40px;
    left: 90px;
  } */
}
