* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  margin-top: 2em;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #3b61ff;
}

nav a span {
  font-size: 1.5em;
}

.sub-link li {
  list-style: none;
  font-weight: bold;
  color: #3b61ff;
  font-size: 1em;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.left {
  margin: 2em 0 0 3em;
}

.left h2 {
  font-weight: bold;
  font-size: 2em;
  padding: 0 2em 1em 0;
  color: #2680EB;
}

.left .text {
  margin: 2em 0;
}

.left .text p {
  line-height: 1.5em;
  color: #A9A9A9;
}

.right {
  margin: 3em 0;
}

.left,
.right {
  padding: 2em;
}

/* email field */
.send-email {
  display: none;
}

.email-field-content {
  margin: 0 0 0 5em;
}

.email-field-content p {
  color: #2680EB;
}

input,
textarea {
  width: 50%;
  margin-top: 1.5em;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  padding: 15px;
}

.btn {
  margin: 1em 0;
  padding: 10px 30px;
  background-color: #2680EB;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.upload-file, .success {
  margin: 7em 0 0 3em;
}

.ion-md-add-circle {
  background: white;
  color: #2680EB;
  font-size: 60px;
}

.upload-div {
  padding-bottom: 5rem;
}

.center {
  text-align: center
}

.u-text {
  line-height: 1.5em;
  color: #A9A9A9;
}

.send-options .send {
  margin: 1em 0;
  padding: 10px 30px;
  background-color: #2680EB;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.send-options .upload {
  display: block;
  width: 7rem;
  text-align: center;
  margin: auto;
  padding: 10px 30px;
  background-color: #2680EB;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.success {
  display: none;
  text-align: center;
}

.success span i {
  padding: 0 0 0 -3em;
  font-size: 6em;
  margin-bottom: 0.5em;
  color: #2680EB;
}

.success p {
  margin-bottom: 20px;
  display: inline-block;
  padding: 5px;
  background-color: rgba(38, 128, 235, 0.05);
  color: #2680EB;
}

footer {
  background: rgb(37, 104, 187);
}

footer p,
footer a {
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 1.23rem;
}

footer a {
  text-decoration: none;
  padding-left: 0.3rem;
}

.back {
  position: relative;
  top: -50px;
  left: -160px;
  color: #2680EB;
  font-size: 2em;
}