* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #3b61ff;
}

nav a span {
  font-size: 1.5em;
}

.sub-link li {
  list-style: none;
  font-weight: bold;
  color: #3b61ff;
  font-size: 1em;
}

[container] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.left {
  margin: 5em 0 0 3em;
}

.left h2 {
  font-weight: bold;
  font-size: 2em;
  padding: 0 2em 1em 0;
  color: #A9A9A9;
}

.left .text {
  margin: 2em 0;
}

.left .text p {
  line-height: 1.5em;
  color: #A9A9A9;  
}

.right {
  margin: 3em 0;
}

.right img {
  padding-left: 4em;
  width: fit-content;
  height: 25em;
}

.left,
.right {
  padding: 2em;
}

.upload-btn {
  padding: 1em;
  border-radius: 5px;
  /* margin: ; */
}

.left .file {
  background-color: #3b61ff;
  color: #ffffff;
  border: 2px solid #3b61ff;
  font-weight: bold;
}

.left .folder {
  background-color: #ebebeb;
  color: #3b61ff;
  border: 2px solid #ebebeb;
  font-weight: bold;
}


/* make your changes from here */
