* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #3b61ff;
}

nav a span {
  font-size: 1.5em;
}

.sub-link li {
  list-style: none;
  font-weight: bold;
  color: #3b61ff;
  font-size: 1em;
}

[container] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.left {
  margin: 2em 0 0 3em;
}

.left h2 {
  font-weight: bold;
  font-size: 2em;
  padding: 0 2em 1em 0;
  color: #2680EB;
}

.left .text {
  margin: 2em 0;
}

.left .text p {
  line-height: 1.5em;
  color: #A9A9A9;
}

.right {
  margin: 3em 0;
}

.left,
.right {
  padding: 2em;
}

/* email field */
.email-field-content {
  margin: 0 0 0 5em;
}

.email-field-content p {
  color: #2680EB;
}

input,
textarea {
  width: 50%;
  margin-top: 1.5em;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  padding: 15px;
}

.btn {
  margin: 1em 0;
  padding: 10px 30px;
  background-color: #2680EB;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.ion-md-add-circle {
  background: white;
  color: #2680EB;

  font-size: 60px;
}

.upload-div {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.center {
  text-align: center
}

.u-text {
  line-height: 1.5em;
  color: #A9A9A9;
}

.send-options .upload {
  display: block;
  width: 7rem;
  text-align: center;
  margin: auto;
  padding: 10px 30px;
  background-color: #2680EB;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

[success] {
  text-align: center;
}

[success] span i {
  font-size: 6em;
  margin-bottom: 0.5em;
  color: #2680EB;
}