<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form id="uploadForm" action="/api/auth/upload/folder" method="post" enctype="multipart/form-data">
        <input type="file" name='file'  multiple webkitdirectory >
        <button onclick="">sub</button>
        <span id="status"></span>
    </form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <!-- <script>
        $(document).ready(function () {
            $('#uploadForm').submit(function () {
                $("#status").empty().text("File is uploading...");
                $(this).ajaxSubmit({
                    error: function (xhr) {
                        status('Error: ' + xhr.status);
                    },
                    success: function (response) {
                        console.log(response)
                        $("#status").empty().text(response);
                    }
                });
                //return false;
            });
        });
    </script> -->
</body>

</html>