.left-section-title {
  font-size: 40px;
  line-height: 67px;
  color: var(--color-blue);
}

.left-section-content {
  font-size: 18px;
  line-height: 28px;
  color: #a9a9a9;
  margin-top: 20px;
}

.left-section-image {
  width: 90%;
  padding-right: 80px;
}

.right-section-upload {
  height: 300px;
  max-height: 500px;
  width: 500px;
  background: rgba(239, 238, 238, 0.25);
  border-radius: 9px;
}

.right-section-title {
  font-size: 18px;
  line-height: 24px;
  color: #6b6b6b;
}

.right-section-sub-title {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #6b6b6b;
}

.right-section-content {
  font-size: 12px;
  line-height: 16px;
  color: #6b6b6b;
  max-height: 200px;
  overflow-x: auto;
  white-space: nowrap;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.right-section-content::-webkit-scrollbar {
  width: 3px;
}
.right-section-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(169, 169, 169, 0.5);
  border-radius: 10px;
}
.right-section-content::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 10px;
}
.right-section-content::-webkit-scrollbar-thumb:hover {
  background: #164f94;
}

.input-file {
  display: none;
}

.upload-btn {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: var(--color-blue);
  box-shadow: 0px 0px 5px #b1b0b0;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 10px 30px;
  width: 170px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.upload-file-title {
  width: 190px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.upload-link {
  background: rgba(38, 128, 235, 0.05);
  border-radius: 1px;
  color: var(--color-blue);
  padding: 10px 15px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
  overflow: auto;
  white-space: nowrap;
  width: 385px;
}

.upload-type {
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  color: var(--color-blue);
  cursor: pointer;
}

.upload-link h5 {
  margin-bottom: 0px !important;
}

.upload-link::-webkit-scrollbar {
  height: 3px;
}
.upload-link::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(169, 169, 169, 0.5);
  border-radius: 10px;
}
.upload-link::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 10px;
}
.upload-link::-webkit-scrollbar-thumb:hover {
  background: #164f94;
}

.upload-success {
  font-size: 35px;
  line-height: 47px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-blue);
}

.uploading-file {
  width: 330px;
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  font-size: 14px;
  line-height: 19px;
  color: #6b6b6b;
  font-weight: bold;
  border: 1px solid rgba(247, 245, 245, 0.6);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.09);
}

.cancel-upload {
  width: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-form-label {
  cursor: pointer;
}

@media (max-width: 1330px) {
  .upload-link {
    width: 300px;
  }
}

@media (max-width: 1280px) {
  .right-section-upload {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .upload-link {
    width: 215px;
  }
}

@media (max-width: 991px) {
  .left-section-title {
    font-size: 35px;
    line-height: 50px;
  }

  .left-section-content {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 900px) {
  .home-section {
    flex-direction: column;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .left-section-image {
    width: 100%;
    padding-right: 0px;
  }

  .upload-success {
    font-size: 22px;
  }

  .upload-link {
    width: 290px;
    margin-right: 0px !important;
  }
}

@media (max-width: 450px) {
  .right-section-upload {
    max-height: 300px;
    min-height: 300px;
    height: auto;
  }
  .uploading-file {
    width: 273px;
  }
}
