#s1-terms .t-flex {
  font-family: Segoe UI;
  display: flex;
  justify-content: center;
}

.term h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #2680EB;
  margin: 0;
}

.term h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;

  color: #2680EB;
}

.term h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #888888;
}

.term p {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: justify;

  color: #888888;
}

.term {
  flex-basis: 40%;
  margin: 0.2rem 1.5rem;
}

.terms-right {
  margin-top: 5rem;
}

@media (max-width: 768px) {
  #s1-terms .t-flex {
    font-family: Segoe UI;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .terms-right {
    margin-top: 0;
  }

}