:root {
  --color-blue: #2680eb;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

nav a {
  color: var(--color-blue);
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.2rem;
}


.e-text {
  line-height: 1.5rem;
  color: #a9a9a9;
  margin: 1rem;
  margin: 0;
}

h1 {
  color: var(--color-blue);
  width: 554px;
  height: 134px;
  font-family: Segoe UI;
  font-weight: 450;
  font-size: 2.5rem;
  position: absolute;
}

.start-text {
  position: relative;
  width: 540px;
  height: 57px;
  top: 10rem;
  padding-left: 0.5rem;
}

.start-end {
  position: relative;
  top: 17rem;
}

.start-end a {
  text-decoration: none;
}

.btn {
  display: block;
  width: 7rem;
  text-align: center;
  padding: 10px 30px;
  background-color: #2680eb;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.container {
  padding: 1rem 7rem;
}

.start-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "a a b b b b b";
  grid-gap: 0;
}

.left {
  grid-area: a;
}

.right {
  grid-area: b;
}

div .right {
  background-image: url('https://res.cloudinary.com/fego/image/upload/v1571830495/hng/sharing_1_au3jr5.png');
  background-size: cover;
  height: 38.5rem;
}

@media (max-width: 1300px) {
  .start-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "b"
      "a";
    grid-gap: 0;
  }

  .container {
    padding: 1rem 3rem;
  }

  h1 {
    color: var(--color-blue);
    width: 354px;
    height: 134px;
    font-family: Segoe UI;
    font-weight: 450;
    font-size: 2rem;
  }

  .start-text {
    width: 340px;
    height: 57px;
  }

  .start-end {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

}

@media (max-width: 768px) {
  div .right {
    height: 17.25rem;
  }

  .container {
    padding: 1rem 2rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 1rem 2rem;
  }
}

@media (max-width: 440px) {

  h1 {
    font-size: 1.5rem;
  }
}