@font-face {
  font-family: Rockwell;
  src: url(../assets/font/rockwen.ttf);
}

:root {
  --color-blue: #2680eb;
}

body {
  font-family: Segoe UI;
}

.mt-5 {
  margin-top: 8rem !important;
}

.wrapper {
  padding: 0px 10%;
}

main.wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
}

.nav {
  box-shadow: 0px 2px 9px #f3ebeb;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: white !important;
  z-index: 100;
  transition: all 0.4s ease-in-out;
  margin-top: 0px !important;
}

.nav__nav-logo {
  font-family: Rockwell, 'Courier New', Courier, monospace;
  font-size: 40px;
  line-height: 47px;
  color: var(--color-blue) !important;
  letter-spacing: 4px;
}

.nav-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-blue) !important;
  font-weight: bold;
}

[container] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.left {
  margin: 2em 0 0 3em;
}

.left h2 {
  font-weight: bold;
  font-size: 2em;
  padding: 0 2em 1em 0;
  color: #2680eb;
}

.left .text {
  margin: 2em 0;
}

.left .text p {
  line-height: 1.5em;
  color: #a9a9a9;
}

.right {
  margin: 3em 0;
}

.left,
.right {
  padding: 2em;
}

/* email field */
[send-email] {
  display: none;
}

.email-field-content {
  margin: 0 0 0 5em;
}

.email-field-content p {
  color: #2680eb;
}

input,
textarea {
  width: 50%;
  margin-top: 1.5em;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 15px;
}

.btn {
  margin: 1em 0;
  padding: 10px 30px;
  background-color: #2680eb;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

[upload-file],
[success] {
  margin: 7em 0 0 3em;
}

.ion-md-add-circle {
  background: white;
  color: #2680eb;
  font-size: 60px;
}

.upload-div {
  /* padding-top: 2rem; */
  padding-bottom: 5rem;
}

.center {
  text-align: center;
}

.u-text {
  line-height: 1.5em;
  color: #a9a9a9;
}

.send-options .send {
  margin: 1em 0;
  padding: 10px 30px;
  background-color: #2680eb;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.send-options .upload {
  display: block;
  width: 7rem;
  text-align: center;
  margin: auto;
  padding: 10px 30px;
  background-color: #2680eb;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

[success] {
  display: none;
  text-align: center;
}

[success] span i {
  font-size: 6em;
  margin-bottom: 0.5em;
  color: #2680eb;
}

[success] p {
  margin-bottom: 20px;
  display: inline-block;
  padding: 5px;
  background-color: rgba(38, 128, 235, 0.05);
  color: #2680eb;
}
footer {
  background: rgb(37, 104, 187);
}

footer p,
footer a {
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 1.23rem;
}

footer a {
  text-decoration: none;
  padding-left: 0.3rem;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 0px 5%;
  }
}
