.team-title {
  font-size: 50px;
  line-height: 67px;
  color: var(--color-blue);
  font-weight: bold;
}

.team-memebers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.team-member {
  box-shadow: 0px 2px 9px #f3ebeb;
  border-radius: 5px;
}

.team-member-image {
  width: 116.5px;
  height: 116.5px;
  border-radius: 50%;
}
.team-member-name {
  font-size: 32px;
  line-height: 48px;
  color: var(--color-blue);
  margin: 0px !important;
  text-transform: capitalize;
}

.team-member-role,
.team-member-email {
  font-size: 21px;
  line-height: 28px;
  color: #a9a9a9;
  margin: 0px !important;
}

@media (max-width: 1300px) {
  .team-memebers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 600px) {
  .team-title {
    font-size: 30px;
    margin-bottom: 20px !important;
  }

  .team-memebers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .team-member-image {
    width: 90.5px;
    height: 90.5px;
  }
  .team-member-name {
    font-size: 28px;
    font-weight: bold;
    line-height: normal;
  }

  .team-member-role,
  .team-member-email {
    font-size: 17px;
    font-weight: bold;
  }
}

@media (max-width: 450px) {
  .team-member-image {
    width: 90.5px;
    height: 90.5px;
    border-radius: 50%;
  }
  .team-member-name {
    font-size: 23px;
    font-weight: bold;
  }

  .team-member-role,
  .team-member-email {
    font-size: 14px;
    font-weight: bold;
  }
}
