footer {
  background: var(--color-blue);
  height: 60px;
  margin-bottom: 0;
}
footer span,
footer a {
  color: white;
  font-size: 1.23rem;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: white;
}
@media (max-width: 600px) {
  footer span,
  footer a {
    font-size: 0.8rem;
  }
}
