footer {
  background: rgb(37, 104, 187);
  height: 50px;
  margin-bottom: 0;
}

footer span,
footer a {
  color: white;
  font-size: 1.23rem;
}

footer a {
  text-decoration: none;
}

@media (max-width: 600px) {
  footer span,
  footer a {
    font-size: 0.8rem;
  }
}
