.email-title {
  font-size: 27px;
  line-height: 36px;
  color: var(--color-blue);
}

.form-input {
  padding: 12px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #a9a9a9;
  margin-bottom: 20px;
}

.form-textarea {
  resize: none;
  padding: 12px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #a9a9a9;
}

.short-link-url {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.share {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #a9a9a9;
}
.socials:hover {
  transform: scale(1.15);
  transition: transform 0.5s ease-in-out;
}
.fa-chevron-left {
  cursor: pointer;
}
.upload-success-img {
  width: 70px;
  height: 70px;
}

.upload-success-copy {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #6b6a6a;
}

.upload-success-copy:hover {
  cursor: pointer;
}
.upload-success-share:hover {
  cursor: pointer;
}

.upload-success-share {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #6b6a6a;
}

.upload-another {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  color: #2680eb;
  cursor: pointer;
}

.social-icon {
  width: 23px;
}

.short-links {
  overflow: auto;
  white-space: nowrap;
  height: auto;
  padding-right: 20px;
}

.short-links::-webkit-scrollbar {
  width: 3px;
}
.short-links::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(169, 169, 169, 0.5);
  border-radius: 10px;
}
.short-links::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 10px;
}
.short-links::-webkit-scrollbar-thumb:hover {
  background: #164f94;
}
.loader {
  width: 300px;
  margin-left: 300px;
}

.hide-copy {
  display: none !important;
}

.hide-social {
  display: none;
}

.hide-copy ~ .hide-social {
  display: block;
}

@media (max-width: 986px) {
  .loader {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .short-link {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .right-section-success {
    margin-top: 40px;
  }

  .short-links {
    padding-right: 10px;
  }

  .upload-success-img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 450px) {
  .short-links {
    max-height: 540px;
  }
}
.right-section-content {
  font-size: 12px;
  line-height: 16px;
  color: #6b6b6b;
  max-height: 400px;
  overflow-x: auto;
  white-space: nowrap;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.right-section-content::-webkit-scrollbar {
  width: 3px;
}
.right-section-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(169, 169, 169, 0.5);
  border-radius: 10px;
}
.right-section-content::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 10px;
}
.right-section-content::-webkit-scrollbar-thumb:hover {
  background: #164f94;
}

.showhim {
  position: relative;
}
.showme {
  padding: 0px !important;
  display: none;
  top: 0;
  position: absolute;
  background: #267febc2;
  color: white;
  border-radius: 10px;
}
.showme-items {
  width: 50%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
.showhim:hover .showme {
  display: block;
}
.showme-items > p {
  margin: 0;
  font-weight: bold;
  font-size: 11px;
}

.short-link-url:hover {
  cursor: pointer;
}
