.email-title {
  font-size: 27px;
  line-height: 36px;
  color: var(--color-blue);
}

.form-input {
  padding: 12px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #a9a9a9;
  margin-bottom: 20px;
}

.form-textarea {
  resize: none;
  padding: 12px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #a9a9a9;
}

.share {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #a9a9a9;
}
.socials:hover {
  transform: scale(1.15);
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 900px) {
  .right-section-success {
    margin-top: 40px;
  }
}
.loader {
  width: 300px;
  margin-left: 80px;
  /* margin-left: 300px; */
}

@media (max-width: 986px) {
  .loader {
    width: 100% !important;
    margin-left: 0px !important;
  }
}
