@font-face {
  font-family: Rockwell;
  src: url(./rockwen.ttf);
}

:root {
  --color-blue: #2680EB;
}

html,
body {
  font-family: Segoe UI;
  height: 100%;
}

.mt-5 {
  margin-top: 8rem !important;
}

.wrapper {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

main.wrapper {
  /* padding-top: 100px; */
  padding-bottom: 100px;
}

.nav {
  box-shadow: 0px 2px 9px #f3ebeb;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: white !important;
  z-index: 100;
  transition: all 0.4s ease-in-out;
  margin-top: 0px !important;
}

.nav__nav-logo {
  font-family: Rockwell, 'Courier New', Courier, monospace;
  font-size: 40px;
  line-height: 47px;
  color: var(--color-blue) !important;
  letter-spacing: 4px;
}

.nav-link {
  font-size: 18px;
  line-height: 24px;
  color: #2680EB !important;
  font-weight: bold;
}

@media (max-width: 600px) {
  .wrapper {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  main.wrapper {
    padding-top: 65px;
  }
}

.left-section-title {
  font-size: 40px;
  line-height: 53px;
  color: #2680EB;
}

.left-section-content {
  font-size: 18px;
  line-height: 24px;
  color: #A9A9A9;
}

.left-section-image {
  width: 90%;
  padding-right: 80px;
}

.right-section-upload {
  border: 1px dashed rgba(169, 169, 169, 0.65);
  border-radius: 15px;
  height: 500px;
  width: 500px;
}

.right-section-title {
  font-size: 18px;
  line-height: 24px;
  color: #6b6b6b;
}

.right-section-content {
  font-size: 12px;
  line-height: 16px;
  color: #6b6b6b;
}

.input-file {
  display: none;
}

.upload-btn {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: var(--color-blue);
  box-shadow: 0px 0px 5px #b1b0b0;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 10px 30px;
  width: 170px;
}

.upload-link {
  background: rgba(38, 128, 235, 0.05);
  border-radius: 1px;
  color: #2680EB;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.upload-success {
  font-size: 35px;
  line-height: 47px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-blue);
}

@media (max-width: 1280px) {
  .right-section-upload {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 991px) {
  .left-section-title {
    font-size: 35px;
    line-height: 50px;
  }

  .left-section-content {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 900px) {
  .home-section {
    flex-direction: column;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .left-section-image {
    width: 100%;
    padding-right: 0px;
  }

  .right-section {
    width: 100%;
  }
}

.download_div {
  align-self: center;
  /* width: 50%; */
  text-align: center;
}

.header2>h2{
  /* font-family: Segoe UI; */
  font-size: 25px;
  /* line-height: 40px; */
  color: #2680EB;
}

.btn {
  background-color: Transparent;
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1572451091/XMLID_5_ugzija.png);
  background-repeat: no-repeat;
  /* background-position: 50% 50%; */
  background-position: center;
  height: 150px;
  background-size: contain;
  width: 130px;
  border: none;
  transition: all 0.5s ease;
}
/* .btn:hover {
  height: 180px;
  width: 150px;
} */
.download_sec{
outline: none;
background-color: #2680EB;
width: 159px;
height: 50px;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
border-radius: 3px;
border: none;
cursor: pointer;
transition: all 0.3s ease-in-out;
}
.download_sec:hover{
  background-color:#FFFFFF;
  color: #2680EB;
  width: 163px;
  border: 2px dashed #2680EB;
}
.download.btn a {
  color: white;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#myForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

.header2 {
  line-height: 28px;
  color: #a9a9a9;
}

#footer {
  width: 100%;
  background: rgb(37, 104, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 10px;
}

footer p,
footer a {
  /* padding: 1rem; */
  text-align: center;
  color: white;
  font-size: 1.23rem;
  margin: 0px;
}
footer a {
  text-decoration: none;
  padding-left: 0.3rem;
}
@media (max-width: 700px) {
  [success] {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .our_image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .download_div {
    width: 100%;
  }
}
