.team-member {
  box-shadow: 0px 2px 9px #f3ebeb;
  border-radius: 5px;
  transition: transform 0.4s ease-in-out;
}

.team-member:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.team-member-image {
  width: 116.5px;
  height: 116.5px;
  border-radius: 50%;
}
.team-member-name {
  font-size: 32px;
  line-height: 48px;
  color: var(--color-blue);
  margin: 0px !important;
  text-transform: capitalize;
}

.team-member-role,
.team-member-email {
  font-size: 21px;
  line-height: 28px;
  color: #a9a9a9;
  margin: 0px !important;
}

@media (max-width: 600px) {
  .team-member-image {
    width: 90.5px;
    height: 90.5px;
  }
  .team-member-name {
    font-size: 28px;
    font-weight: bold;
    line-height: normal;
  }

  .team-member-role,
  .team-member-email {
    font-size: 17px;
    font-weight: bold;
  }
}

@media (max-width: 450px) {
  .team-member-image {
    width: 90.5px;
    height: 90.5px;
    border-radius: 50%;
  }
  .team-member-name {
    font-size: 23px;
    font-weight: bold;
  }

  .team-member-role,
  .team-member-email {
    font-size: 14px;
    font-weight: bold;
  }
}
