.reg-container {
  padding: 3rem 11rem;
  font-family: Segoe UI;
  text-align: center;
}

.reg-container h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 40px;
  color: #2680EB;
}

.reg-container p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 0.95rem;
  line-height: 22px;
  text-align: center;
  color: #2D252F;
  opacity: 0.9;
}

p link {
  text-decoration: none;
  color: #2680EB;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 22rem;
  height: 2.9rem;
  margin: 0.65rem;
  border: 0.09rem solid #2680EB;
  box-sizing: border-box;
  border-radius: 0.2rem;
  color: #2D252F;
  opacity: 0.55;
  padding: 0 1rem;
}

.btn {
  width: 22rem;
  height: 2.9rem;
  background: #2680EB;
  border-radius: 0.2rem;
  color: white;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .reg-container {
    padding: 3rem 1rem;
  }
}

@media (max-width: 576px) {

  input[type=text],
  input[type=email],
  input[type=password],
  .btn {
    width: 18rem;
  }
}
